<%- include('./partials/header.ejs')%>
<%- include('./partials/fontAwesome.ejs')%>
    <main>
      <section class="hero">
        <div class="hero-container">
          <h1>Explore upcoming Events</h1>
          <a href="/event" class="btn">all events</a>
        </div>
      </section>
    </main>
